section.section.advantages#advantages
    .section__wrapper.advantages__wrapper
        h2.section__title.advantages__title.visually-hidden  Наши преимущества

        .advantages__box
            .advantages__item.advantages-item
                i.advantages-item__icon.icon-01
                h3.advantages-item__title Приключение
                p.advantages-item__descr Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
            .advantages__item.advantages-item
                i.advantages-item__icon.icon-02
                h3.advantages-item__title Приключение
                p.advantages-item__descr Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
            .advantages__item.advantages-item
                i.advantages-item__icon.icon-03
                h3.advantages-item__title Приключение
                p.advantages-item__descr Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
            .advantages__item.advantages-item
                i.advantages-item__icon.icon-04
                h3.advantages-item__title Приключение
                p.advantages-item__descr Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
