footer.footer
	.footer__box-logo
		img(src="img/logo.svg", alt="").footer-logo
	nav.footer__nav
		ul.footer__nav-list
			li.footer__nav-item
				a(href="#about").footer__nav-link О нас
			li.footer__nav-item
				a(href="#advantages").footer__nav-link Наши преимущества
			li.footer__nav-item
				a(href="#tours").footer__nav-link Лучшие туры
			li.footer__nav-item
				a(href="#reviews").footer__nav-link Отзывы
			li.footer__nav-item
				a(href="#booking").footer__nav-link Забронировать тур