header.header
	.header__top
		img(src="img/logo.svg", alt="Логотип с воздушным шаром").header__logo
	.header__text.text-header
		h1.text-header__title Туры на воздушном шаре
		.text-header__descr незабываемое приключение ждет вас
		a(href="#tours").text-header__btn.btn Наш каталог
		//- button.text-header__btn.btn Наш каталог
