.menu
    //- .menu__inner
    nav.menu__nav
        ul.menu__list
            li.menu__list-item
                a(href="#about").menu__list-link О нас
            li.menu__list-item
                a(href="#advantages").menu__list-link Наши преимущества
            li.menu__list-item
                a(href="#tours").menu__list-link Лучшие туры
            li.menu__list-item
                a(href="#reviews").menu__list-link Отзывы
            li.menu__list-item
                a(href="#booking").menu__list-link Забронировать тур

//- button.menu__btn(type="button", aria-label="Меню сайта")
    img(src="./../../img/nav-btn.svg", alt="Бурер меню")