section.section.reviews#reviews
	include bg-video
	.section__wrapper.reviews__wrapper
		h2.section__title.reviews__title Отзывы наших клиентов

		.reviews__box

			.reviews__item.reviews-item
				figure.reviews-item__img
					img(src="img/reviews-01.jpg", alt="")
					figcaption.reviews-item__name АНТОН РЯБИН
				.reviews-item__content
					h3.reviews-item__title Я получил массу впечатлений
					.reviews-item__text Задача организации, в особенности же  дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.

			.reviews__item.reviews-item
				figure.reviews-item__img
					img(src="img/reviews-02.jpg", alt="")
					figcaption.reviews-item__name ЛИЗА ФРОЛОВА
				.reviews-item__content
					h3.reviews-item__title Это было великолепно и незабываемо
					.reviews-item__text Задача организации, в особенности же  дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.

		a(href="#booking").reviews__btn.btn Забронировать