section.section.tours#tours
	.section__wrapper.tours__wrapper
		h2.section__title.tours__title Наиболее популярные туры

		.tours__box

			.tours__item.tours-item(ontouchstart="this.classList.toggle(\'hover\');")
				.tours-item__side.tours-item--front
					.tours-item__box-title
						.tours-item__box-img
							img(src="img/tour-01.jpg", alt="").tours-item__img
						.tours-item__title
							span Групповые
							span туры
					ul.tours-item__descr
						li.tours-item__descr-item Группы от 6 человек
						li.tours-item__descr-item Продолжительность 2 часа
						li.tours-item__descr-item В группе 1 гид
						li.tours-item__descr-item Дальность полета 6км
						li.tours-item__descr-item Бесплатные сувениры

				.tours-item__side.tours-item--back
					.tours-item__back-box
						span.tours-item__back-text Полная стоимость:
						.tours-item__back-price 5990₽
						button.tours-item__back-btn.btn Забронировать

			.tours__item.tours-item(ontouchstart="this.classList.toggle(\'hover\');")
				.tours-item__side.tours-item--front
					.tours-item__box-title
						.tours-item__box-img
							img(src="img/tour-02.jpg", alt="").tours-item__img
						.tours-item__title
							span Групповые
							span туры
					ul.tours-item__descr
						li.tours-item__descr-item Группы от 6 человек
						li.tours-item__descr-item Продолжительность 2 часа
						li.tours-item__descr-item В группе 1 гид
						li.tours-item__descr-item Дальность полета 6км
						li.tours-item__descr-item Бесплатные сувениры

				.tours-item__side.tours-item--back
					.tours-item__back-box
						span.tours-item__back-text Полная стоимость:
						.tours-item__back-price 5990₽
						button.tours-item__back-btn.btn Забронировать

			.tours__item.tours-item(ontouchstart="this.classList.toggle(\'hover\');")
				.tours-item__side.tours-item--front
					.tours-item__box-title
						.tours-item__box-img
							img(src="img/tour-03.jpg", alt="").tours-item__img
						.tours-item__title
							span Групповые
							span туры
					ul.tours-item__descr
						li.tours-item__descr-item Группы от 6 человек
						li.tours-item__descr-item Продолжительность 2 часа
						li.tours-item__descr-item В группе 1 гид
						li.tours-item__descr-item Дальность полета 6км
						li.tours-item__descr-item Бесплатные сувениры

				.tours-item__side.tours-item--back
					.tours-item__back-box
						span.tours-item__back-text Полная стоимость:
						.tours-item__back-price 5990₽
						button.tours-item__back-btn.btn Забронировать

		a(href="#booking").tours__btn.btn Забронировать