// @use "sass:math";

// Шрифты
$font-default: 'Roboto', sans-serif;
// $font-akcent: 'Roboto', sans-serif;
$font-size-default: 62.5%; // 10px / 16px



// Цвета
$color-text-default: #777; // для простого текста
$color-text-akcent: #9F00B9; // оранжевый


// Фоны
$bgcolor-01: #F7F7F7;
$bgcolor-02: #fbfbfb;

// Скругления
$border-radius: 5rem;

// Тени
$shadow: (0 .4rem .4rem rgba(0, 0, 0, 0.1));

// Медиа брейкпоинты

$break_xxl: 1440px;
$break_xl: 1200px;
$break_md: 992px;
$break_ssm: 800px;
$break_sm: 768px;
$break_xs: 480px;
$break_xxs: 330px;

